<section class="quien-soy py-4 mt-5">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 text-center">
        <img src="./assets/img/avatar.png" alt="Soy el  desarrolador"
             class="img-fluid mb-4 mb-md-0">
      </div>
      <div class="col-12 col-md-6 text-center text-md-left align-self-md-center ">
        <h1 class="display-4 font-weight-bold text-primary">Leonardo</h1>
        <h1 class="display-4 font-weight-bold text-primary">Hernández</h1>
        <h4>Desarrollador y arquitecto de software</h4>
        <!--<a href="#" class="btn btn-primary btn-lg">Leér más</a>-->
      </div>
    </div>
  </div>
</section>


<!-- SECCION FILOSOFIA  -->
<section class="filosofia py-4 bg-primary text-center text-white">

  <div class="container">
    <div class="row">
      <div class="col-12">
        <img src="./assets/img/avatar.png" width="260" height="auto" alt="Avatar de Tomas Mendez" class="img-fluid rounded-circle mb-4">
        <p class="h2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis odio amet nulla ad nobis minima doloribus inventore, aspernatur distinctio dicta ipsam fugit suscipit ullam architecto eos molestias placeat rerum facere.</p>
        <p class="h4 font-italic">- Leonardo Fabián Hernández Peña</p>
      </div>
    </div>
  </div>
</section>

<!-- SECCION PROYECTOS -->
<section class="proyectos py-4">
  <div class="container">
    <h1 class="display-4 font-weight-bold text-center pb-4">Mis proyectos</h1>
    <div class="row text-md-center">
      <article class="col-12 col-md-6 col-lg-3 mb-3 mb-lg-0">
        <div class="card">
          <img class="card-img-top h-100" src="./assets/img/proyecto1.png" alt="Proyecto 1">
          <div class="card-body">
            <h5 class="card-title">Proyecto 1</h5>
            <p class="card-text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate sit nisi beatae amet blanditiis placeat repellat minima assumenda, animi impedit totam, voluptatum aut nihil alias laboriosam expedita, dolor nam voluptatem.
            </p>
            <a href="#" class="btn btn-primary">Ver proyecto</a>
          </div>
        </div>
      </article>
      <article class="col-12 col-md-6 col-lg-3 mb-3 mb-lg-0">
        <div class="card">
          <img class="card-img-top h-100" src="./assets/img/proyecto2.png" alt="Proyecto 2">
          <div class="card-body">
            <h5 class="card-title">Proyecto 2</h5>
            <p class="card-text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate sit nisi beatae amet blanditiis placeat repellat minima assumenda, animi impedit totam, voluptatum aut nihil alias laboriosam expedita, dolor nam voluptatem.
            </p>
            <a href="#" class="btn btn-primary">Ver proyecto</a>
          </div>
        </div>
      </article>

      <article class="col-12 col-md-6 col-lg-3 mb-3 mb-lg-0">
        <div class="card">
          <img class="card-img-top h-100" src="./assets/img/proyecto3.png" alt="Proyecto 3">
          <div class="card-body">
            <h5 class="card-title">Proyecto 3</h5>
            <p class="card-text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate sit nisi beatae amet blanditiis placeat repellat minima assumenda, animi impedit totam, voluptatum aut nihil alias laboriosam expedita, dolor nam voluptatem.
            </p>
            <a href="#" class="btn btn-primary">Ver proyecto</a>
          </div>
        </div>
      </article>
      <article class="col-12 col-md-6 col-lg-3   mb-3 mb-lg-0">
        <div class="card">
          <img class="card-img-top h-100" src="./assets/img/proyecto4.png" alt="Proyecto 4">
          <div class="card-body">
            <h5 class="card-title">Proyecto 4</h5>
            <p class="card-text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate sit nisi beatae amet blanditiis placeat repellat minima assumenda, animi impedit totam, voluptatum aut nihil alias laboriosam expedita, dolor nam voluptatem.
            </p>
            <a href="#" class="btn btn-primary">Ver proyecto</a>
          </div>
        </div>
      </article>
    </div>
  </div>
</section>
